@import '../../src/styles/style';

.drive-sales{
    padding: 120px 0;

    .overlay{
        background-color: #0b253c;
        top: inherit;
        height: calc(100% - 190px);
        bottom: 0;
        overflow: hidden;
        &:before{
            content: "";
            position: absolute;
            left: 0px;
            top: 0;
            width: 100%;
            height: 290px;
            border-top: 290px solid #fff;
            border-right: 1902px solid transparent;
        }
    }

    .section-title{
        padding-bottom: 36px;
    }
    .row > div[class^="col-"]{
        margin-bottom: 30px;
    }
    .single-drive{
        display: flex;
        flex-flow: row;
        box-shadow: 0 1px 5px rgba(40, 44, 71, 0.24);
        border-radius: 4px;
        background-color: #ffffff;
        padding: 30px 55px 30px 30px;
        height: 100%;

        .icon{
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            &.icon1{
                background-color: #8fe5e1;
            }
            &.icon2{
                background-color: #c3efca;
            }
            &.icon3{
                background-color: #b4c5fb;
            }
            &.icon4{
                background-color: #f6c2f2;
            }

            img{
                transform: translateY(10px);
            }
        }
        .drive-content{
            width: calc(100% - 60px);
            padding-left: 30px;

            h4{
                font-weight: 500;
                margin-bottom: 22px;
            }
            p{

            }
        }
    }
}
